<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="FILE" fileName="${basePath}/${date:dd-MM-yyyy HH.mm.ss}-log.html"
                     filePattern="%d{dd-MM-yyyy}-log.html">

            <HTMLLayout charset="UTF-8" title="test logs" locationInfo="true"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="15 MB"/>
            </Policies>
        </RollingFile>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[ %-5level] | %d{dd-MM-yyyy HH:mm:ss} | [%t] %c{1} | - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>